/* Universal selector (*) 

    Tác động lên tất cả (all) các phần tử trong HTML
*/

* {
  /* Box sizing: border-box có nghĩa là kích thước của box bao quanh phần tử sẽ không đổi khi chúng ta áp dụng thuộc tính margin, padding, border, outline 
  
  Box-sizing (kích thước của cái hộp) mặc định là 'content-box'

  Kích thước của phần tử tính bằng: padding + border + content loại trừ margin (khoảng cách bên ngoài phần tử)

  */
  box-sizing: border-box;
}

/* Tác động đến phần tử có class là "box 

    Khi 1 thẻ div không khai báo width, height thì mặc định width, height của nó sẽ bằng width, height của phần tử cha chứa nó

    Box Model

    Trong box model trên dev tools nếu thấy giá trị của thuộc tính margin, padding, border là 0 thì nó là 0, còn nếu thấy không có gì hoặc là dấu '-' thì có trường hợp:
    + TH 1: là thuộc tính đó có giá trị 0
    + TH 2: là thuộc tính đó có giá trị mặc định theo trình duyệt (user agent stylesheet)
    MÀ MỖI TRÌNH DUYỆT CÓ USER AGENT STYLESHEET KHÁC NHAU

*/
.box {
  width: 500px;
  height: 500px;
  background-color: brown;
}

.box1 {
  background-color: red;
  /* border-width: độ dày của viền
    border-style: kiểu dáng của viền
    border-color: màu viền
    cú pháp short-hand: viết ngắn
  */
  border: 20px solid black;
  /* Cú pháp long-hand: viết tường minh */
  /* border-width: 1px;
  border-style: solid;
  border-color: black; */

  margin: 50px;
  padding: 50px;
}

.box2 {
  background-color: blue;
}

/* body {
  width: 500px;
  height: 500px;
} */

/* 
    Padding: khoảng cách bên trong phần tử - tính từ border đến phần content của phần tử đó
    Margin: khoảng cách bên ngoài phần tử - tính từ border của phần tử này đến border của phần tử khác

*/

/* 
    Thẻ div thuộc nhóm thẻ block (khối)
    Thẻ p: nhóm thẻ block
    Thẻ a: nhóm thẻ inline

    Nhóm thẻ block: 1 mình nó chiếm dụng luôn 1 hàng
    Nhóm thẻ inline: nằm trên cùng 1 hàng nếu còn chỗ 
        + Margin-top, margin-bottom là không có hiệu lực
*/

.link {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 14px;
}
